:root {
  --background: #282a36;
  --light-background: #343746;
  --lighter-background: #424450;
  --dark-background: #21222c;
  --darker-background: #191a21;
  --foreground: #f8f8f2;
  --current-line: #44475a;
  --comment: #6272a4;
  --white: var(--foreground);
  --white-hover: #f8f8f280;
  --red: #ff5555;
  --orange: #ffb86c;
  --yellow: #f1fa8c;
  --green: #50fa7b;
  --purple: #bd93f9;
  --purple-hover: #bf93f980;
  --cyan: #8be9fd;
  --cyan-hover: #8be9fd80;
  --pink: #ff79c6;
  --pink-hover: #ff79c680;

  --ls-tag-text-opacity: 0.8;
  --ls-tag-text-hover-opacity: 0.8;
  --ls-page-text-size: 16px;
  --ls-page-title-size: 36px;
  --ls-font-family: "Fira Sans";
  --ls-font-weight: 300;
  --ls-font-letter-spacing: 0.002em;
  --ls-font-line-height: 1.5;

  --ls-border-radius-low: 3px;
  --ls-border-radius-medium: 6px;

  --ls-primary-text-color: var(--foreground);
  --ls-secondary-text-color: var(--white-hover);
}

.calendar-wrap {
  width: 90%;
  height: 80%;
  position: absolute;
}

.calendar-inner {
  position: absolute;
  right: 200px;
  top: 50px;
}

.vc-container.vc-orange {
  color: var(--foreground);
  background-color: var(--lighter-background);
  border-color: var(--lighter-background);
}

.vc-title {
  color: var(--dark-foreground) !important;
}

.vc-dot {
  background-color: var(--pink) !important;
}
